// Colors.

// Palette.
$dark-grey: #222224;
$retro-blue: #66CBE1;
$retro-red: #EF4065;
$white: #FFFFFF;

// Site colours.
$background: #222224;
$text-color: $white;
$primary-color: $retro-blue;
$secondary-color: $retro-red;

// Site config.
$site-width: 1024px;

// Breakpoints.
$medium: 768px;
$long: min-height 700px;


// Font sizes.
$h1-size: 1.125rem;
$heading-weight: 500;
