@font-face {
  font-family: 'dual300';
  src: url("../../fonts/dual-300-webfont.woff2") format("woff2"), url("../../fonts/dual-300-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.heading {
  color: blue;
  font-size: 18px; }

.heading__text-line {
  color: purple;
  display: block;
  padding: 2px; }
